@import "../_core";
@import "../../lib/font-awesome-4.7.0/scss/font-awesome";
//----------------------------------------------------font
.font-px {
	@include font-size-base;
}
//---------------------------------------------------space
.block-gap {
	@include if-mobile {
		padding: $global-gap;
	}
	@include if-pc {
		padding: $global-gap * 2;
	}
}
//--------------------------------------------------helper
.inline              { display: inline; }
.inline-block        { display: inline-block; }
.block               { display: block; }

.inline-right        { text-align: right; }
.inline-center       { text-align: center; }
.inline-left         { text-align: left; }

.float-right  { float: right; }
.float-left   { float: left; }
.clearfix {
    clear: both;
    @include pseudo-before-after() {
		visibility: hidden;
		width: 0;
		height: 0;
    }
}
.clearfix-before {
    @include pseudo-before(block, " ") {
        @extend .clearfix;
    }
}
.clearfix-after {
    @include pseudo-after(block, " ") {
        @extend .clearfix;
    }
}
.full-width {
    width: 100%;
}
.full-height {
	height: 100%;
}
.fullsize {
	@extend .full-width;
	@extend .full-height;
}
.view-width {
	width: 100vw;
}
.view-height {
	height: 100vh;
}
.view {
	@extend .view-width;
	@extend .view-height;
}