@import "../_core";
@import "../../lib/font-awesome-4.7.0/scss/font-awesome";
//----------------------------------------------------font
.font-px {
	@include font-size-base;
}
//---------------------------------------------------space
.block-gap {
	@include if-mobile {
		padding: $global-gap;
	}
	@include if-pc {
		padding: $global-gap * 2;
	}
}
//--------------------------------------------------helper
.inline              { display: inline; }
.inline-block        { display: inline-block; }
.block               { display: block; }

.inline.right        { text-align: right; }
.inline.center       { text-align: center; }
.inline.left         { text-align: left; }

.inline-block.right  { width: 100%; text-align: right; }
.inline-block.center { width: 100%; text-align: center; }
.inline-block.left   { width: 100%; text-align: left; }

.float-right  { float: right; }
.float-left   { float: left; }
.clearfix {
    clear: both;
    @include pseudo-before-after() {
		visibility: hidden;
		width: 0;
		height: 0;
    }
}
.clearfix-before {
    @include pseudo-before(block, " ") {
        @extend .clearfix;
    }
}
.clearfix-after {
    @include pseudo-after(block, " ") {
        @extend .clearfix;
    }
}
.full-width {
    width: 100%;
}
.full-height {
	height: 100%;
}
.fullsize {
	@extend .full-width;
	@extend .full-height;
}
.view-width {
	width: 100vw;
}
.view-height {
	height: 100vh;
}
.view {
	@extend .view-width;
	@extend .view-height;
}
$arrow-wide: 5px;
$arrow-height: 7px;
.arrow {
	pointer-events: none;
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
}
.arrow-down {
	@extend .arrow;
	border: $arrow-wide solid transparent;
	border-top: $arrow-height solid #000;
	margin-top: -($arrow-height - $arrow-wide);
}
.arrow-up {
	@extend .arrow;
	border: $arrow-wide solid transparent;
	border-bottom: $arrow-height solid #000;
	margin-top: -($arrow-height - $arrow-wide);
}
.arrow-left {
	@extend .arrow;
	border: $arrow-wide solid transparent;
	border-right: $arrow-height solid #000;
	margin-top: $arrow-height - $arrow-wide;
	margin-top: -($arrow-wide / 2);
}
.arrow-right {
	@extend .arrow;
	border: $arrow-wide solid transparent;
	border-left: $arrow-height solid #000;
	margin-top: -($arrow-wide / 2);
}
.arrow-down-after   { @include pseudo-after(inline-block)  { @extend .arrow-down;  } }
.arrow-down-before  { @include pseudo-before(inline-block) { @extend .arrow-down;  } }
.arrow-up-after     { @include pseudo-after(inline-block)  { @extend .arrow-up;    } }
.arrow-up-before    { @include pseudo-before(inline-block) { @extend .arrow-up;    } }
.arrow-left-after   { @include pseudo-after(inline-block)  { @extend .arrow-left;  } }
.arrow-left-before  { @include pseudo-before(inline-block) { @extend .arrow-left;  } }
.arrow-right-after  { @include pseudo-after(inline-block)  { @extend .arrow-right; } }
.arrow-right-before { @include pseudo-before(inline-block) { @extend .arrow-right; } }
//--------------------------------------------global style
