@import "config.scss";
/*
#styleguide
ボタン

```
<input type="button" class="button" value="ボタン">
<button type="submit" class="button">ボタン</button>
```
*/
button[type="submit"],
input[type='button'] {
}


.button {
	background-color: accentColor(2);
	border-color: transparent;
	color: #fff;
}